.text {
    color: black;
    width: 65%;
    line-height: 2.5;
    text-align: justify;
    text-justify: inter-word;
}

.black {
    color: black;
    text-align: left;
    padding: 0;
}

.photo {
  height: 30px;
  width: 30px;
}

aside {
  width: 15%;
  padding-left: 15px;
  margin-left: 15px;
  float: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}

img { max-width: 100%; height: auto; }
