.color{
    background-color: #222629;
    border-bottom:2px solid #66FCF1;
    padding-bottom:0;
}

.NavText{
    color: white;
}

.Nav-link:link {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.6rem;
    margin-right: 15px;
    text-decoration: none;
    padding-right: 0;
    padding-left: 0;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

#dropdown-toggle {
    background-color: #222629;
    font-size: 20px;
    border: none;
    padding: 0;
    margin-right: 15px;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

#dropdown-menu{
    background-color: #222629;
}

#dropdown-link{
    color: #ffffff;
}

#dropdown-item:hover{
    background-color: #000000;
}

#dropdown-item:hover > #dropdown-link{
    color: #66FCF1;
}