.color{
    background-color: #222629;
    border-bottom:2px solid #66FCF1;
    padding-bottom:0;
}

.NavText{
    color: white;
}

.Nav-link:link {
    color: #ffffff;
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    text-align: center;
    padding: 0px,
}

#dropdown-toggle {
    background-color: #222629;
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
    border: none;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
    text-align: center;
    padding: 0px,
}

#dropdown-toogle.btn {
    padding: '0px',
}

#dropdown-menu{
    background-color: #222629;
}

#dropdown-link{
    color: #ffffff; 
}

#dropdown-item:hover{
    background-color: #000000;
}

#dropdown-item:hover > #dropdown-link{
    color: #66FCF1;
}



